


<div class="flex flex-col items-center">
    <div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4">
        <h2 class="text-lg">
            Facilities
        </h2>
        <ul>
            <li class="py-4">
                <a routerLink="edit-reactive">
                    <div class="text-azule mb-2">Edit Facility - Reactive Form</div>
                    <div class="text-gray-800 text-sm">
                        Standard reactive form
                    </div>
                </a>
            </li>
            <li class="py-4">
                <a routerLink="edit-dynamic">
                    <div class="text-azule mb-2">Edit Facility - Dynamic Form</div>
                    <div class="text-gray-800 text-sm">
                        Agape dynamic form
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
