<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg mb-2">
       Select Boxes
    </h2>
    <ul>
        <li class="py-4">
            <a routerLink="reactive">
                <div class="text-azule mb-2">Select Boxes in Reactive Form</div>
            </a>
        </li>
        <li class="py-4">
            <a routerLink="dynamic">
                <div class="text-azule mb-2">Select Boxes in Dynamic Form</div>
            </a>
        </li>
    </ul>
</div>




