<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg mb-2">
        Reactive Form: Select Box with Enum Choices
    </h2>
    <select-box-example-001></select-box-example-001>
</div>

<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">
        Reactive Form: Select Box with Choices Objects and Formatter
    </h2>
    <select-box-example-002></select-box-example-002>
</div>

<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">
        Reactive Form: Select Box with Choices Resolver (Observable)
    </h2>
    <select-box-example-003></select-box-example-003>
</div>

<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">
        Reactive Form: Select Box with Choices Resolver (Promise)
    </h2>
    <select-box-example-004></select-box-example-004>
</div>

<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">
       Dynamic Form: Select Box with Choices Resolver (Observable)
    </h2>
    <select-box-example-005></select-box-example-005>
</div>



