
<div class="rounded overflow-hidden shadow-lg app-menu bg-slate-100 p-4 mb-6">
    <ul>
        <li class="py-2 text-azule">
            <a routerLink="/">Home</a>
        </li>
    </ul>
</div>

<div class="rounded overflow-hidden shadow-lg app-menu bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">Reactive vs Dyanmic Form</h2>
    <ul>
        <li class="py-2 text-azule">
            <a routerLink="/facilities">Facilities</a>
        </li>
        <li class="py-2 text-azule">
            <a routerLink="/employees">Employees</a>
        </li>
    </ul>
</div>

<div class="rounded overflow-hidden shadow-lg app-menu bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">Component Playground</h2>
    <ul>
        <!-- <li class="py-2 text-azule">
            <a routerLink="/playground">Index</a>
        </li> -->
        <li class="py-2 text-azule">
            <a routerLink="/playground/select-box">Select Box</a>
        </li>
    </ul>
</div>