
<div class="rounded overflow-hidden shadow-lg app-menu bg-slate-100 p-4 mb-6">
    <ul>
        <li class="py-2 text-azule">
            <a routerLink="/">Home</a>
        </li>
    </ul>
</div>

<div class="rounded overflow-hidden shadow-lg app-menu bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">Reactive vs Dyanmic Form</h2>
    <ul>
        <li class="py-2 text-azule">
            <a routerLink="/facilities">Facilities</a>
        </li>
        <li class="py-2 text-azule">
            <a routerLink="/employees">Employees</a>
        </li>
    </ul>
</div>

<div class="rounded overflow-hidden shadow-lg app-menu bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">Component Playground</h2>
    <ul>
        <!-- <li class="py-2 text-azule">
            <a routerLink="/playground">Index</a>
        </li> -->
        <li class="py-2 text-azule">
            <a routerLink="/playground/select-box">Select Box</a>
            <ul class="ml-3">
                <li>
                    <a routerLink="/playground/select-box/dynamic">in Dynamic Form</a>
                </li>
                <li>
                    <a routerLink="/playground/select-box/reactive">in Reactive Form</a>
                </li>
                <li>
                    <a routerLink="/playground/select-box/non-dynamic">not dynamic</a>
                </li>
            </ul>
        </li>
        <li class="py-2 text-azule">
            <a routerLink="/playground/checkboxes">Checkbox</a>
            <ul class="ml-3">
                <li>
                    <a routerLink="/playground/checkboxes/mat-checkbox-group">MatCheckboxGroup</a>
                </li>
            </ul>
        </li>
        <li class="py-2 text-azule">
            <a routerLink="/playground/radio">Radio</a>
            <ul class="ml-3">
            </ul>
        </li>
        <li class="py-2 text-azule">
            <a routerLink="/playground/date">Date</a>
            <ul class="ml-3">
            </ul>
        </li>
    </ul>
</div>