
<ng-container *ngIf="formFieldDescriptor">
    <ng-container *ngIf="formFieldDescriptor.widget === 'input'">
        <ng-container *ngIf="formFieldDescriptor.type === 'string'">
            <ng-container *ngTemplateOutlet="inputString"></ng-container>
        </ng-container>
        <ng-container *ngIf="formFieldDescriptor.type === 'number'">
            <ng-container *ngTemplateOutlet="inputNumber"></ng-container>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="formFieldDescriptor.widget === 'select'">
        <ng-container *ngTemplateOutlet="select"></ng-container>
    </ng-container>
    

    <ng-template #inputString>
        <mat-form-field>
            <mat-label>{{formFieldDescriptor.label}}</mat-label>
            <input matInput 
                [formControl]="this.control"
                (ngModelChange)="this.emitNgModelChange($event)"
                (blur)="this.emitCtrlBlur($event)"
                (click)="this.emitCtrlClick($event)"
                (contextmenu)="this.emitCtrlContextmenu($event)"
                (copy)="this.emitCtrlCopy($event)"
                (dblclick)="this.emitCtrlDblclick($event)"
                (focus)="this.emitCtrlFocus($event)"
                (focusin)="this.emitCtrlFocusin($event)"
                (focusout)="this.emitCtrlFocusout($event)"
                (keydown)="this.emitCtrlKeydown($event)"
                (keyup)="this.emitCtrlKeyup($event)"
                (keypress)="this.emitCtrlKeypress($event)"
                (mousedown)="this.emitCtrlMousedown($event)"
                (mouseenter)="this.emitCtrlMouseenter($event)"
                (mouseleave)="this.emitCtrlMouseleave($event)"
                (mousemove)="this.emitCtrlMousemove($event)"
                (mouseout)="this.emitCtrlMouseout($event)"
                (mouseover)="this.emitCtrlMouseover($event)"
                (mouseup)="this.emitCtrlMouseup($event)"
                (paste)="this.emitCtrlPaste($event)"
                (scroll)="this.emitCtrlScroll($event)"
                (scrollend)="this.emitCtrlScrollend($event)"
                (wheel)="this.emitCtrlWheel($event)"
            >
            <mat-error *ngIf="this.control.errors?.['field']">{{this.control.errors?.['field'].message}}</mat-error>
        </mat-form-field>

    </ng-template>
    <ng-template #inputNumber>
        <mat-form-field>
            <mat-label>{{formFieldDescriptor.label}}</mat-label>

            <input matInput 
                type="number" 
                [min]="formFieldDescriptor.min" 
                [max]="formFieldDescriptor.max"
                [formControl]="this.control"
                (ngModelChange)="this.emitNgModelChange($event)"
                (blur)="this.emitCtrlBlur($event)"
                (click)="this.emitCtrlClick($event)"
                (contextmenu)="this.emitCtrlContextmenu($event)"
                (copy)="this.emitCtrlCopy($event)"
                (dblclick)="this.emitCtrlDblclick($event)"
                (focus)="this.emitCtrlFocus($event)"
                (focusin)="this.emitCtrlFocusin($event)"
                (focusout)="this.emitCtrlFocusout($event)"
                (keydown)="this.emitCtrlKeydown($event)"
                (keyup)="this.emitCtrlKeyup($event)"
                (keypress)="this.emitCtrlKeypress($event)"
                (mousedown)="this.emitCtrlMousedown($event)"
                (mouseenter)="this.emitCtrlMouseenter($event)"
                (mouseleave)="this.emitCtrlMouseleave($event)"
                (mousemove)="this.emitCtrlMousemove($event)"
                (mouseout)="this.emitCtrlMouseout($event)"
                (mouseover)="this.emitCtrlMouseover($event)"
                (mouseup)="this.emitCtrlMouseup($event)"
                (paste)="this.emitCtrlPaste($event)"
                (scroll)="this.emitCtrlScroll($event)"
                (scrollend)="this.emitCtrlScrollend($event)"
                (wheel)="this.emitCtrlWheel($event)"
            >
            <mat-error *ngIf="this.control.errors?.['field']">{{this.control.errors?.['field'].message}}</mat-error>
        </mat-form-field>
    </ng-template>
    <ng-template #select>
        <mat-form-field>
            <mat-label>{{formFieldDescriptor.label}}</mat-label>
            <mat-select
                [formControl]="this.control"
                (ngModelChange)="this.emitNgModelChange($event)"
                (selectionChange)="this.emitChange($event)"
                (blur)="this.emitCtrlBlur($event)"
                (click)="this.emitCtrlClick($event)"
                (contextmenu)="this.emitCtrlContextmenu($event)"
                (copy)="this.emitCtrlCopy($event)"
                (dblclick)="this.emitCtrlDblclick($event)"
                (focus)="this.emitCtrlFocus($event)"
                (focusin)="this.emitCtrlFocusin($event)"
                (focusout)="this.emitCtrlFocusout($event)"
                (keydown)="this.emitCtrlKeydown($event)"
                (keyup)="this.emitCtrlKeyup($event)"
                (keypress)="this.emitCtrlKeypress($event)"
                (mousedown)="this.emitCtrlMousedown($event)"
                (mouseenter)="this.emitCtrlMouseenter($event)"
                (mouseleave)="this.emitCtrlMouseleave($event)"
                (mousemove)="this.emitCtrlMousemove($event)"
                (mouseout)="this.emitCtrlMouseout($event)"
                (mouseover)="this.emitCtrlMouseover($event)"
                (mouseup)="this.emitCtrlMouseup($event)"
                (paste)="this.emitCtrlPaste($event)"
                (scroll)="this.emitCtrlScroll($event)"
                (scrollend)="this.emitCtrlScrollend($event)"
                (wheel)="this.emitCtrlWheel($event)"
                >
                <ng-container *ngIf="formFieldDescriptor.choices">
                    <mat-option *ngFor="let choice of formFieldDescriptor.choices" [value]="choice.value">{{ choice.label }}</mat-option>
                </ng-container>
            </mat-select>
            <mat-error *ngIf="this.control.errors?.['field']">{{this.control.errors?.['field'].message}}</mat-error>
        </mat-form-field>
    </ng-template>
</ng-container>

