

<ng-container *ngIf="agControl">

    <ng-container *ngIf="widget === 'checkbox'">
        <ng-container *ngTemplateOutlet="checkbox"></ng-container>
    </ng-container>

    <ng-container *ngIf="widget === 'checkboxes'">
        <ng-container *ngTemplateOutlet="checkboxes"></ng-container>
    </ng-container>

    <ng-container *ngIf="widget === 'date'">
        <ng-container *ngTemplateOutlet="date"></ng-container>
    </ng-container>

    <ng-container *ngIf="widget === 'input'">
        <ng-container *ngIf="agControl.type === 'string'">
            <ng-container *ngTemplateOutlet="inputString"></ng-container>
        </ng-container>
        <ng-container *ngIf="agControl.type === 'number' || agControl.type === 'integer'">
            <ng-container *ngTemplateOutlet="inputNumber"></ng-container>
        </ng-container>
        <ng-cotnainer *ngIf="agControl.type === 'decimal'">
            <ng-container *ngTemplateOutlet="inputDecimal"></ng-container>
        </ng-cotnainer>
    </ng-container>

    <ng-container *ngIf="widget === 'radio'">
        <ng-container *ngTemplateOutlet="radio"></ng-container>
    </ng-container>

    <ng-container *ngIf="widget === 'select'">
        <ng-container *ngTemplateOutlet="select"></ng-container>
    </ng-container>

    <ng-container *ngIf="widget === 'textarea'">
        <ng-container *ngIf="agControl.autosize">
            <ng-container *ngTemplateOutlet="textareaAutosize"></ng-container>
        </ng-container>
        <ng-container *ngIf="! agControl.autosize">
            <ng-container *ngTemplateOutlet="textareaFixedSize"></ng-container>
        </ng-container>
    </ng-container>
    
    <ng-template #checkbox>
        <div class="checkbox-control">
            <mat-checkbox
                [formControl]="this.ngControl"
                (change)="this.emitChange($event)"
                (ngModelChange)="this.emitNgModelChange($event)"
                (blur)="this.emitCtrlBlur($event)"
                (click)="this.emitCtrlClick($event)"
                (contextmenu)="this.emitCtrlContextmenu($event)"
                (copy)="this.emitCtrlCopy($event)"
                (dblclick)="this.emitCtrlDblclick($event)"
                (focus)="this.emitCtrlFocus($event)"
                (focusin)="this.emitCtrlFocusin($event)"
                (focusout)="this.emitCtrlFocusout($event)"
                (keydown)="this.emitCtrlKeydown($event)"
                (keyup)="this.emitCtrlKeyup($event)"
                (keypress)="this.emitCtrlKeypress($event)"
                (mousedown)="this.emitCtrlMousedown($event)"
                (mouseenter)="this.emitCtrlMouseenter($event)"
                (mouseleave)="this.emitCtrlMouseleave($event)"
                (mousemove)="this.emitCtrlMousemove($event)"
                (mouseout)="this.emitCtrlMouseout($event)"
                (mouseover)="this.emitCtrlMouseover($event)"
                (mouseup)="this.emitCtrlMouseup($event)"
                (paste)="this.emitCtrlPaste($event)"
                (scroll)="this.emitCtrlScroll($event)"
                (scrollend)="this.emitCtrlScrollend($event)"
                (wheel)="this.emitCtrlWheel($event)">
                {{ agControl.label }}
            </mat-checkbox>
        </div>
    </ng-template>

    <ng-template #checkboxes>
        <div class="checkboxes-control"
         [class.checkboxes-control-disabled]="ngControl.disabled">
            <div class="ag-mat-control-group-header">
                <label>
                    <mat-label class="ag-mat-control-group-label">{{ agControl.label }}</mat-label><span aria-hidden="true" class="ag-mat-control-group-label--required" *ngIf="required"> </span>
                </label>
                <mat-error 
                    *ngIf="! disabled && ngControl.dirty && ngControl.errors?.field"
                    class="ag-mat-control-group-error mat-caption">
                    {{ ngControl.errors?.field?.message }}
                </mat-error>  
            </div>

            <mat-checkbox-group
                [formControl]="this.ngControl"
                [choices]="formattedChoices"
                (change)="this.emitChange($event)"
            ></mat-checkbox-group>
        </div>
    </ng-template>

    <ng-template #date>
        <mat-form-field>
            <mat-label>{{agControl.label}}</mat-label>
            <input matInput 
            [formControl]="this.ngControl"
            [matDatepicker]="picker"
            (dateChange)="this.emitChange($event)"
            (ngModelChange)="this.emitNgModelChange($event)"
            (blur)="this.emitCtrlBlur($event)"
            (click)="this.emitCtrlClick($event)"
            (contextmenu)="this.emitCtrlContextmenu($event)"
            (copy)="this.emitCtrlCopy($event)"
            (dblclick)="this.emitCtrlDblclick($event)"
            (focus)="this.emitCtrlFocus($event)"
            (focusin)="this.emitCtrlFocusin($event)"
            (focusout)="this.emitCtrlFocusout($event)"
            (keydown)="this.emitCtrlKeydown($event)"
            (keyup)="this.emitCtrlKeyup($event)"
            (keypress)="this.emitCtrlKeypress($event)"
            (mousedown)="this.emitCtrlMousedown($event)"
            (mouseenter)="this.emitCtrlMouseenter($event)"
            (mouseleave)="this.emitCtrlMouseleave($event)"
            (mousemove)="this.emitCtrlMousemove($event)"
            (mouseout)="this.emitCtrlMouseout($event)"
            (mouseover)="this.emitCtrlMouseover($event)"
            (mouseup)="this.emitCtrlMouseup($event)"
            (paste)="this.emitCtrlPaste($event)"
            (scroll)="this.emitCtrlScroll($event)"
            (scrollend)="this.emitCtrlScrollend($event)"
            (wheel)="this.emitCtrlWheel($event)"
            >
            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </ng-template>

    <ng-template #inputString>
        <mat-form-field>
            <mat-label>{{agControl.label}}</mat-label>
            <input matInput 
                [formControl]="this.ngControl"
                (ngModelChange)="this.emitNgModelChange($event)"
                (blur)="this.emitCtrlBlur($event)"
                (click)="this.emitCtrlClick($event)"
                (contextmenu)="this.emitCtrlContextmenu($event)"
                (copy)="this.emitCtrlCopy($event)"
                (dblclick)="this.emitCtrlDblclick($event)"
                (focus)="this.emitCtrlFocus($event)"
                (focusin)="this.emitCtrlFocusin($event)"
                (focusout)="this.emitCtrlFocusout($event)"
                (keydown)="this.emitCtrlKeydown($event)"
                (keyup)="this.emitCtrlKeyup($event)"
                (keypress)="this.emitCtrlKeypress($event)"
                (mousedown)="this.emitCtrlMousedown($event)"
                (mouseenter)="this.emitCtrlMouseenter($event)"
                (mouseleave)="this.emitCtrlMouseleave($event)"
                (mousemove)="this.emitCtrlMousemove($event)"
                (mouseout)="this.emitCtrlMouseout($event)"
                (mouseover)="this.emitCtrlMouseover($event)"
                (mouseup)="this.emitCtrlMouseup($event)"
                (paste)="this.emitCtrlPaste($event)"
                (scroll)="this.emitCtrlScroll($event)"
                (scrollend)="this.emitCtrlScrollend($event)"
                (wheel)="this.emitCtrlWheel($event)"
            >
            <mat-error *ngIf="this.ngControl.errors?.['field']">{{this.ngControl.errors?.['field'].message}}</mat-error>
        </mat-form-field>

    </ng-template>
    <ng-template #inputNumber>
        <mat-form-field>
            <mat-label>{{agControl.label}}</mat-label>

            <input matInput 
                type="number" 
                [min]="agControl.min" 
                [max]="agControl.max"
                [step]="agControl.step"
                [formControl]="this.ngControl"
                (ngModelChange)="this.emitNgModelChange($event)"
                (blur)="this.emitCtrlBlur($event)"
                (click)="this.emitCtrlClick($event)"
                (contextmenu)="this.emitCtrlContextmenu($event)"
                (copy)="this.emitCtrlCopy($event)"
                (dblclick)="this.emitCtrlDblclick($event)"
                (focus)="this.emitCtrlFocus($event)"
                (focusin)="this.emitCtrlFocusin($event)"
                (focusout)="this.emitCtrlFocusout($event)"
                (keydown)="this.emitCtrlKeydown($event)"
                (keyup)="this.emitCtrlKeyup($event)"
                (keypress)="this.emitCtrlKeypress($event)"
                (mousedown)="this.emitCtrlMousedown($event)"
                (mouseenter)="this.emitCtrlMouseenter($event)"
                (mouseleave)="this.emitCtrlMouseleave($event)"
                (mousemove)="this.emitCtrlMousemove($event)"
                (mouseout)="this.emitCtrlMouseout($event)"
                (mouseover)="this.emitCtrlMouseover($event)"
                (mouseup)="this.emitCtrlMouseup($event)"
                (paste)="this.emitCtrlPaste($event)"
                (scroll)="this.emitCtrlScroll($event)"
                (scrollend)="this.emitCtrlScrollend($event)"
                (wheel)="this.emitCtrlWheel($event)"
            >
            <mat-error *ngIf="this.ngControl.errors?.['field']">{{this.ngControl.errors?.['field'].message}}</mat-error>
        </mat-form-field>
    </ng-template>
    <ng-template #inputDecimal>
        <mat-form-field>
            <mat-label>{{agControl.label}}</mat-label>
            <input matInput 
                type="number" 
                [min]="agControl.min" 
                [max]="agControl.max"
                [step]="agControl.step"
                [decimals]="agControl.decimals"
                [input]="controlContainer.form.value[fieldName]"
                [formControl]="this.ngControl"
                (ngModelChange)="this.emitNgModelChange($event)"
                (blur)="this.emitCtrlBlur($event)"
                (click)="this.emitCtrlClick($event)"
                (contextmenu)="this.emitCtrlContextmenu($event)"
                (copy)="this.emitCtrlCopy($event)"
                (dblclick)="this.emitCtrlDblclick($event)"
                (focus)="this.emitCtrlFocus($event)"
                (focusin)="this.emitCtrlFocusin($event)"
                (focusout)="this.emitCtrlFocusout($event)"
                (keydown)="this.emitCtrlKeydown($event)"
                (keyup)="this.emitCtrlKeyup($event)"
                (keypress)="this.emitCtrlKeypress($event)"
                (mousedown)="this.emitCtrlMousedown($event)"
                (mouseenter)="this.emitCtrlMouseenter($event)"
                (mouseleave)="this.emitCtrlMouseleave($event)"
                (mousemove)="this.emitCtrlMousemove($event)"
                (mouseout)="this.emitCtrlMouseout($event)"
                (mouseover)="this.emitCtrlMouseover($event)"
                (mouseup)="this.emitCtrlMouseup($event)"
                (paste)="this.emitCtrlPaste($event)"
                (scroll)="this.emitCtrlScroll($event)"
                (scrollend)="this.emitCtrlScrollend($event)"
                (wheel)="this.emitCtrlWheel($event)"
            >
            <mat-error *ngIf="this.ngControl.errors?.['field']">{{this.ngControl.errors?.['field'].message}}</mat-error>
        </mat-form-field>
    </ng-template>

    <ng-template #radio>
        <div class="radio-group-control"
         [class.radio-group-control-disabled]="ngControl.disabled">
            <div class="ag-mat-control-group-header">
                <label>
                    <mat-label class="ag-mat-control-group-label">{{ agControl.label }}</mat-label><span aria-hidden="true" class="ag-mat-control-group-label--required" *ngIf="required"> </span>
                </label>
                <mat-error 
                    *ngIf="! disabled && ngControl.dirty && ngControl.errors?.field"
                    class="ag-mat-control-group-error mat-caption">
                    {{ ngControl.errors?.field?.message }}
                </mat-error>  
            </div>

            <mat-radio-group 
                [formControl]="this.ngControl"
                (change)="this.emitChange($event)">
                <mat-radio-button 
                    *ngFor="let choice of formattedChoices"
                    [value]="choice.value">
                    {{ choice.label }}
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </ng-template>

    <ng-template #select>
        <mat-form-field>
            <mat-label>{{agControl.label}}</mat-label>
            <mat-select
                [multiple]="agControl.multi"
                [formControl]="this.ngControl"
                (ngModelChange)="this.emitNgModelChange($event)"
                (selectionChange)="this.emitChange($event)"
                (blur)="this.emitCtrlBlur($event)"
                (click)="this.emitCtrlClick($event)"
                (contextmenu)="this.emitCtrlContextmenu($event)"
                (copy)="this.emitCtrlCopy($event)"
                (dblclick)="this.emitCtrlDblclick($event)"
                (focus)="this.emitCtrlFocus($event)"
                (focusin)="this.emitCtrlFocusin($event)"
                (focusout)="this.emitCtrlFocusout($event)"
                (keydown)="this.emitCtrlKeydown($event)"
                (keyup)="this.emitCtrlKeyup($event)"
                (keypress)="this.emitCtrlKeypress($event)"
                (mousedown)="this.emitCtrlMousedown($event)"
                (mouseenter)="this.emitCtrlMouseenter($event)"
                (mouseleave)="this.emitCtrlMouseleave($event)"
                (mousemove)="this.emitCtrlMousemove($event)"
                (mouseout)="this.emitCtrlMouseout($event)"
                (mouseover)="this.emitCtrlMouseover($event)"
                (mouseup)="this.emitCtrlMouseup($event)"
                (paste)="this.emitCtrlPaste($event)"
                (scroll)="this.emitCtrlScroll($event)"
                (scrollend)="this.emitCtrlScrollend($event)"
                (wheel)="this.emitCtrlWheel($event)"
                >
                <ng-container *ngIf="formattedChoices">
                    <mat-option *ngFor="let choice of formattedChoices" [value]="choice.value">{{ choice.label }}</mat-option>
                </ng-container>
            </mat-select>
            <mat-error *ngIf="this.ngControl.errors?.['field']">{{this.ngControl.errors?.['field'].message}}</mat-error>
        </mat-form-field>
    </ng-template>

    <ng-template #textareaFixedSize>
        <mat-form-field>
            <mat-label>{{agControl.label}}</mat-label>
            <textarea matInput
            [formControl]="this.ngControl"
            [rows]="agControl.rows"
            (ngModelChange)="this.emitNgModelChange($event)"
            (blur)="this.emitCtrlBlur($event)"
            (click)="this.emitCtrlClick($event)"
            (contextmenu)="this.emitCtrlContextmenu($event)"
            (copy)="this.emitCtrlCopy($event)"
            (dblclick)="this.emitCtrlDblclick($event)"
            (focus)="this.emitCtrlFocus($event)"
            (focusin)="this.emitCtrlFocusin($event)"
            (focusout)="this.emitCtrlFocusout($event)"
            (keydown)="this.emitCtrlKeydown($event)"
            (keyup)="this.emitCtrlKeyup($event)"
            (keypress)="this.emitCtrlKeypress($event)"
            (mousedown)="this.emitCtrlMousedown($event)"
            (mouseenter)="this.emitCtrlMouseenter($event)"
            (mouseleave)="this.emitCtrlMouseleave($event)"
            (mousemove)="this.emitCtrlMousemove($event)"
            (mouseout)="this.emitCtrlMouseout($event)"
            (mouseover)="this.emitCtrlMouseover($event)"
            (mouseup)="this.emitCtrlMouseup($event)"
            (paste)="this.emitCtrlPaste($event)"
            (scroll)="this.emitCtrlScroll($event)"
            (scrollend)="this.emitCtrlScrollend($event)"
            (wheel)="this.emitCtrlWheel($event)"></textarea>
        </mat-form-field>
    </ng-template>

    <ng-template #textareaAutosize>
        <mat-form-field>
            <mat-label>{{agControl.label}}</mat-label>
            <textarea matInput
            [formControl]="this.ngControl"
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            [cdkAutosizeMinRows]="agControl.minRows"
            [cdkAutosizeMaxRows]="agControl.maxRows"
            (ngModelChange)="this.emitNgModelChange($event)"
            (blur)="this.emitCtrlBlur($event)"
            (click)="this.emitCtrlClick($event)"
            (contextmenu)="this.emitCtrlContextmenu($event)"
            (copy)="this.emitCtrlCopy($event)"
            (dblclick)="this.emitCtrlDblclick($event)"
            (focus)="this.emitCtrlFocus($event)"
            (focusin)="this.emitCtrlFocusin($event)"
            (focusout)="this.emitCtrlFocusout($event)"
            (keydown)="this.emitCtrlKeydown($event)"
            (keyup)="this.emitCtrlKeyup($event)"
            (keypress)="this.emitCtrlKeypress($event)"
            (mousedown)="this.emitCtrlMousedown($event)"
            (mouseenter)="this.emitCtrlMouseenter($event)"
            (mouseleave)="this.emitCtrlMouseleave($event)"
            (mousemove)="this.emitCtrlMousemove($event)"
            (mouseout)="this.emitCtrlMouseout($event)"
            (mouseover)="this.emitCtrlMouseover($event)"
            (mouseup)="this.emitCtrlMouseup($event)"
            (paste)="this.emitCtrlPaste($event)"
            (scroll)="this.emitCtrlScroll($event)"
            (scrollend)="this.emitCtrlScrollend($event)"
            (wheel)="this.emitCtrlWheel($event)"></textarea>
        </mat-form-field>
    </ng-template>

</ng-container>
