<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <div class="mb-2 flex flex-row justify-between">
        <h2 class="text-lg">
            Number input
        </h2>
        <div class="text-xs text-slate-500">
            001
        </div>
    </div>
    <number-example-001></number-example-001>
</div>

<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <div class="mb-2 flex flex-row justify-between">
        <h2 class="text-lg">
            Number input - Integer
        </h2>
        <div class="text-xs text-slate-500">
            002
        </div>
    </div>
    <number-example-002></number-example-002>
</div>

