
<form [formGroup]="group.ngFormGroup">
    <div class="form-grid {{this.modelDescriptor?.token}}">
        <ng-container *ngFor="let fieldName of fieldNames">
            <dynamic-form-field 
            [model]="group.model" 
            [field]="fieldName"
            (change)="emitChange(fieldName, $event)"
            (ngModelChange)="emitNgModelChange(fieldName, $event)"
            [choices]="group.options?.fields?.[fieldName]?.choices"
            [choiceFormatter]="group.options?.fields?.[fieldName]?.choicesFormatter"
            ></dynamic-form-field> 
        </ng-container>
    </div>
</form>