<div class="flex flex-col items-center">
    <div class="rounded overflow-hidden shadow-lg max-w-full w-2/3 bg-slate-100 p-4">
        <h2 class="text-lg py-3 mb-3">{{ event?.name }}</h2>
        <div>
            <a routerLink="edit" class="text-azule">Edit event</a>
             ・ <a href="#" (click)="deleteEvent(event.id)" class="text-azule">Delete event</a>
        </div>
    </div>

    <div class="my-4">
        <a routerLink="/events-tempalte-forms" class="text-white">Events List</a>
    </div>
</div>
