<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">
       Boolean Checkbox
    </h2>
    <checkbox-example-001></checkbox-example-001>
</div>

<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">
       Checkbox List (enum)
    </h2>
    <checkbox-example-002></checkbox-example-002>
</div>

<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">
       Checkbox List - Disabled
    </h2>
    <checkbox-example-002></checkbox-example-002>
</div>



