<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">
        Boolean Checkbox
    </h2>
    <div class="text-xs text-slate-500">
        001
    </div>
    <checkbox-example-001></checkbox-example-001>
</div>

<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">
        Checkbox List (enum)
    </h2>
    <div class="text-xs text-slate-500">
        002
    </div>
    <checkbox-example-002></checkbox-example-002>
</div>

<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">
        Checkbox List - Disabled
    </h2>
    <div class="text-xs text-slate-500">
        003
    </div>
    <checkbox-example-003></checkbox-example-003>
</div>


<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <h2 class="text-lg">
        Checkbox List - Error Messages
    </h2>
    <div class="text-xs text-slate-500">
        004
    </div>
    <checkbox-example-004></checkbox-example-004>
</div>


