


<div class="bg-slate-100 rounded max-w-full p-6">

  <h2 class="text-lg mb-3">Edit User</h2>

  <form [formGroup]="form" class="grid grid-cols-1">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let option of choices.UserStatusChoices" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="py-4 flex flex-row">

    <div class="flex-1">
      <button 
      type="button" 
      (click)="submit()"
      [disabled]="transactionLoading || ! form.valid || ! form.dirty"
      [class.disabled]="transactionLoading || ! form.valid || ! form.dirty"
      class="btn submit rounded border-2 border-azule bg-slate-100 hover-bg-azule hover:text-white px-8 py-2 text-azule">
          Submit
      </button>
    </div>

    <div class="text-right">

      <button 
      type="button" 
      (click)="delete()"
      [disabled]="transactionLoading"
      [class.disabled]="transactionLoading"
      class="btn submit rounded border-2 border-slate-100 bg-slate-100 px-8 py-2 text-shingle-800 hover-text-alert hover-border-alert">
          Delete
      </button>

    </div>

</div>



  