<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <div class="mb-2 flex flex-row justify-between">
        <h2 class="text-lg">
            With widget decorator
        </h2>
        <div class="text-xs text-slate-500">
            001
        </div>
    </div>
    <radio-example-001></radio-example-001>
</div>

<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4 mb-6">
    <div class="mb-2 flex flex-row justify-between">
        <h2 class="text-lg">
            With widget form control option
        </h2>
        <div class="text-xs text-slate-500">
            002
        </div>
    </div>
    <radio-example-002></radio-example-002>
</div>
