

<div class="rounded overflow-hidden shadow-lg w-full bg-slate-100 p-4">
    <h2 class="text-lg">
        Employees
    </h2>
    <ul>
        <li class="py-4">
            <a routerLink="edit-reactive">
                <div class="text-azule mb-2">Edit Employee - Reactive Form</div>
                <div class="text-gray-800 text-sm">
                    Standard reactive forms
                </div>
            </a>
        </li>
        <li class="py-4">
            <a routerLink="edit-dynamic-fields">
                <div class="text-azule mb-2">Edit Employee - Reactive Form with Dyanmic Fields</div>
                <div class="text-gray-800 text-sm">
                    Reactive form with dynamic fields
                </div>
            </a>
        </li>
        <li class="py-4">
            <a routerLink="edit-dynamic-form">
                <div class="text-azule mb-2">Edit Employee - Dynamic Form</div>
                <div class="text-gray-800 text-sm">
                    Reactive form with dynamic fields
                </div>
            </a>
        </li>
    </ul>
</div>

