
<div class="layout">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                Events List
            </div>
        </div>
    
        <div class="card-body">
            <ul>
                <li *ngFor="let event of events">
                    <a href="/events/view/{{event.id}}">
                    {{event.name}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div class="footer-actions">
    <a class="standalone" href="/events">← Back to Events Index</a>
</div>

