


<div class="p-6 bg-slate-100 confirmation-dialog">
    <div class="mb-3 py-6">{{ options.message }}</div>

    <div class="dialog-actions">
        
        <button 
        *ngIf="options.okButtonStyle === 'primary'"
        (click)="close(true)"
        type="button" 
        class="btn rounded border-2 border-azule bg-slate-100 hover-bg-azule hover:text-white px-8 py-2 text-azule">
            {{ options.okButtonText }}
        </button>

        <button 
        *ngIf="options.okButtonStyle === 'primary-destructive'"
        (click)="close(true)"
        type="button" 
        class="btn rounded border-2 border-alert bg-slate-100 hover-bg-alert hover:text-white px-8 py-2 text-alert">
            {{ options.okButtonText }}
        </button>

        <button 
        type="button" 
        (click)="close(false)"
        class="btn rounded border-2 bg-slate-100 border-slate-100 text-slate-600 hover:bg-slate-500 hover:text-white px-8 py-2">
            {{ options.cancelButtonText }}
        </button>

    </div>
</div>

