@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */

#primary-router-outlet-container {
    position:absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    overflow-y: scroll;
    padding: 1.5rem;
}

a:hover {
    color: #4f82d1;
}