
<div *ngIf="requestLoading">Loading...</div>

<div *ngIf="! requestLoading">

    <div class="layout">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    {{ event?.name }}
                </div>
            </div>

            <div class="card-actions">
                <a routerLink="/events/edit/{{event?.id}}">Edit Event</a>
                <a (click)="deleteEvent(event.id)">Delete Event</a>
            </div>
        
            <div class="card-body">
            </div>
        </div>
    </div>
    
    <div class="footer-actions">
        <a class="standalone" routerLink="/events/list">← Back to Events List</a>    
    </div>    
</div>

