
<div class="flex flex-col items-center">
    <div class="rounded overflow-hidden shadow-lg max-w-full w-100 bg-slate-100 p-4">
        <div class="py-2">View these demonstrations with the console window open.</div>
        <ul>
            <li class="py-4">
                <a routerLink="/tied-subscription">
                    <div class="text-azule">Timer with Tied Subscription</div>
                    <div class="text-sm">Subscription is unsubscribed when component is destroyed</div>
                </a>
            </li>
            <li class="py-4">
                <a routerLink="/take-until">
                    <div class="text-azule">Timer with Take Until</div>
                    <div class="text-sm">Subscription is unsubscribed using the `takeUntil` pipe</div>
                </a>
            </li>
            <li class="py-4">
                <a routerLink="/leaky-timer">
                    <div class="text-azule">Leaky Timer</div>
                    <div class="text-sm">Subscription leaks because it is not unsubribed to</div>
                </a>
            </li>
        </ul>
    </div>
</div>
