


<div *ngIf="requestLoading">Loading...</div>

<div *ngIf="! requestLoading">

    <div class="layout">
        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    {{ event?.name }}
                </div>
            </div>
        
            <div class="card-body">
                <form #htmlForm="ngForm">
                    <div class="form-control" *ngFor="let field of form.fields">
                        <div class="form-control-label">
                            <label>{{field.label}}*</label>
                        </div>
                        <div class="form-control-element">
                            <input 
                                type="text"
                                [name]="field.name"
                                required="true"
                                [(ngModel)]="event.name"
                                required>
                        </div>
                    </div>
                    <div class="action-area">
                        <button 
                        type="button" 
                        (click)="submit()" 
                        [disabled]="this.transactionLoading">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="footer-actions">
        <a class="standalone" href="/events/view/{{event?.id}}">← Back to Event Page</a>  
    </div>
      
</div>

