


<div class="bg-slate-100 rounded max-w-full p-6">
    <div class="text-right">
        <a class="btn" (click)="newUser()">New User</a>
    </div>

    <table mat-table [dataSource]="items" class="bg-slate-100 text-xs">
      

        <!-- Name Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let item"> 
            <a routerLink="{{item.id}}">{{item.username}}</a>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let item"> 
            <a routerLink="{{item.id}}">{{item.name}}</a>
          </td>
        </ng-container>

      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
</div>



  