<div class="flex flex-col items-center">
    <div class="flex flex-col rounded overflow-hidden shadow-lg max-w-full w-2/3 bg-slate-100 p-4">
        <h2 *ngIf="!id" class="text-lg py-3 mb-3">New Event</h2>
        <h2 *ngIf="event?.id" class="text-lg py-3 mb-3">Edit Event</h2>

        <form [formGroup]="eventsForm">

            <div class="grid gap-x-6 form-grid">
                <mat-form-field class="col-span-2">
                    <mat-label>Name</mat-label>
                    <input 
                    matInput 
                    name="name" 
                    formControlName="name"
                    required="true">
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Date start</mat-label>
                    <input 
                    matInput
                    name="timeStart__date" 
                    formControlName="timeStart__date"
                    [matDatepicker]="picker1"
                    required="true"
                    >
                    <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Time start</mat-label>
                    <input 
                    matInput 
                    type="time"
                    name="timeStart__time" 
                    formControlName="timeStart__time"
                    required="true">
                </mat-form-field>


                <mat-form-field>
                    <mat-label>Date end</mat-label>
                    <input 
                    matInput
                    name="timeEnd__date"  
                    formControlName="timeEnd__date"
                    [matDatepicker]="picker2"
                    >
                    <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Time end</mat-label>
                    <input 
                    matInput 
                    type="time"
                    name="timeEnd__time" 
                    formControlName="timeEnd__time">
                </mat-form-field>

                <mat-form-field class="col-span-2">
                    <mat-label>Location name</mat-label>
                    <input matInput name="locationName" 
                    formControlName="locationName">
                </mat-form-field>

                <mat-form-field class="col-span-2">
                    <mat-label>Location address</mat-label>
                    <textarea matInput name="locationAddress" 
                    formControlName="locationAddress"></textarea>
                </mat-form-field>

                <mat-form-field class="col-span-2">
                    <mat-label>Contact phone</mat-label>
                    <input 
                    matInput 
                    name="contactPhone" 
                    formControlName="contactPhone">
                </mat-form-field>
                <mat-form-field class="col-span-2">
                    <mat-label>Contact email</mat-label>
                    <input 
                    matInput 
                    name="contactPhone" 
                    formControlName="contactEmail">
                </mat-form-field>
                <mat-form-field class="col-span-2">
                    <mat-label>Description</mat-label>
                    <textarea matInput name="description" 
                    formControlName="description"></textarea>

                </mat-form-field> 
            </div>

            <div class="py-4">
                <button 
                id="submit"
                type="button" 
                (click)="submit()"
                [disabled]="transactionLoading || ! eventsForm.valid || ! eventsForm.dirty"
                [class.disabled]="transactionLoading || ! eventsForm.valid || ! eventsForm.dirty"
                class="rounded border-2 border-azule bg-slate-100 hover-bg-azule hover:text-white px-8 py-2 text-azule">
                    Submit
                </button>
            </div>

        </form>
    </div>

    <div class="my-4 text-white">
        <a routerLink="/events-reactive-forms/{{event?.id}}">View Event</a> 
        ・<a routerLink="/events-reactive-forms">Events List</a>
    </div>
</div>


