<div class="flex flex-col items-center">
    <div class="rounded overflow-hidden shadow-lg max-w-full w-2/3 bg-slate-100 p-4">
        <h2 class="text-lg py-3 mb-3">Events</h2>
        <ul>
            <li class="py-4" *ngFor="let event of events">
                <a routerLink="{{event?.id}}">
                    <div class="text-azule">{{event?.name}}</div>
                </a>
            </li>

        </ul>
    </div>

    <div class="my-4">
        <a routerLink="/events-reactive-forms/create" class="text-white">New Event</a>
    </div>
</div>
